<nb-card>
  <nb-card-header>
    <div class="row">
      <div class="col-xxl-6">
        {{title}}
      </div>
      <div class="col-xxl-6">
        <button nbButton class="float-right" (click)="downloadReport()"><nb-icon icon="download-outline"></nb-icon>Download Report</button>
      </div>
    </div>
  </nb-card-header>

  <nb-card-body>
    <ng2-smart-table [settings]="settings" [source]="source"
    (deleteConfirm)="onDeleteConfirm($event)" 
    (createConfirm)="onCreateConfirm($event)" 
    (editConfirm)="onEditConfirm($event)"
    
    >
    </ng2-smart-table>
  </nb-card-body>
</nb-card>
