@import '../../../../@theme/styles//themes.scss';

@include nb-install-component() {
  nb-card {
    transform: translate3d(0, 0, 0);
  }
}

.print-wrapper{
  position: fixed;
  width: 35%;
  top: 10000000px;
}