<!-- <h1  class="text-center text-danger">
    {{data.title}}
</h1>
<i *ngIf="data.icon" class="material-icons d-flex justify-content-center mb-4 text-warning">{{data.icon}}</i>
<div  class="text-center">{{data.message}}</div>
<div  class="d-flex justify-content-center mt-4" *ngIf="data.isDblBtn">
    <button mat-raised-button class="btn btn-default mr-4" mat-dialog-close>Cancel</button>
    <button mat-raised-button class="btn btn-danger ml-4" (click)="onYesConfirm()">OK</button>
</div>
<div mat-dialog-actions *ngIf="!data.isDblBtn">
    <button mat-button (click)="onNoClick()">OK</button>
</div> -->
<nb-card>
    <nb-card-header>
        <div *ngIf="icon" class="d-flex justify-content-center align-items-center mt-4">
           <nb-icon style="width: 40px;height: 40px;" [icon]="icon" [status]="status"></nb-icon>
        </div>
        <h4 class="text-center mt-4">{{ title }}</h4>
    </nb-card-header>
    <nb-card-body>
      {{message}}
    </nb-card-body>
    <nb-card-footer>
        <div *ngIf="isDblBtn">
            <div *ngIf="!custom" class="d-flex justify-content-between">
                <button nbButton hero status="danger"  class="w-100" (click)="dismiss()">Cancel</button>
                <button nbButton hero status="primary" class="w-100 ml-4"  (click)="success()">Yes I'm sure</button>
            </div>
            <div *ngIf="custom == 'pos'" class="d-flex justify-content-between">
                <button nbButton hero status="warning" class="w-100" (click)="success('print')">Print Receipt</button>
                <button nbButton hero status="primary" class="w-100 ml-4" (click)="success('next')">Next Order</button>
            </div>
        </div>
        <div *ngIf="!isDblBtn" class="d-flex justify-content-between">
            <button nbButton hero status="primary" class="w-100" (click)="dismiss()">OK</button>
        </div>
    </nb-card-footer>
  </nb-card>
  