<div class="row">
  <div class="col-xxl-12">
    <nb-card>
      <nb-card-body>
        <h2>Hi Sales, {{firstName}} </h2>
      </nb-card-body>
    </nb-card>
  </div>
</div>

<div class="row">
  <div class="col-xxl-6">
    <nb-card accent="info">
      <nb-card-header>
        Weekly Earnings
      </nb-card-header>
      <nb-card-body>
        <h3>{{totalSalesAmount|currency:'':'Rp.'}}</h3>
      </nb-card-body>
      <nb-card-footer>48% increase compare to last week</nb-card-footer>
    </nb-card>
  </div>
  <div class="col-xxl-6">
    <nb-card accent="info">
      <nb-card-header>No of Total Sales</nb-card-header>
      <nb-card-body>
       <h3>{{totalSales}}</h3>
      </nb-card-body>
      <nb-card-footer>48% increase compare to last week</nb-card-footer>
    </nb-card>
  </div>
  
  
</div>

<div class="row">
  <div class="col-xxl-5">
    <ngx-traffic-reveal-card [products]="products"></ngx-traffic-reveal-card>

    <div class="row">
    
    </div>

   
  </div>
</div>

