<div class="row">
    <div class="col-xxxl-12">
        <nb-alert *ngIf="responds?.show" [status]="responds?.status" closable (close)="responds=null">
            {{responds?.message}}
        </nb-alert>
        
        <ngx-smart-table-shared 
        [data]="data"
        [title]="'Sales Table'" 
        (onCreate)="onCreate($event)"
        (onDelete)="onDelete($event)"
        (onEdit)="onEdit($event)"
        [columns]="columns"
        [calculate]="false"
        ></ngx-smart-table-shared>
    </div>
</div>